#vanta {
  overflow: visible;
  width: 100%;
  height: 100vh;
}

.main {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  font-family: orbitron;
  padding-bottom: 50px;
}

.overlap-3 {
  display: flex;
}
.phoenix {
  width: 270px;
  margin-top: 30px;
}

.phoenix img {
  object-fit: cover;
  width: 200px;
  height: 420px;
  order: 1;
  border-radius: 20px;
  background-size: cover;
  filter: opacity(90%);
  border: 1px solid white;
}

.main h1 {
  z-index: 10;
}

.texts {
  margin: 0;
  writing-mode: vertical-rl;
  font-size: 2rem;
  position: relative;
  text-align: left;
  padding-top: 5px;
  margin-left: 0;
  left: 38px;
  letter-spacing: 4px;
  background-color: #272727;
}

/* Real outline for modern browsers */

@supports (-webkit-text-stroke: 1px rgb(255, 255, 255)) {
  .texts {
    color: transparent;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    text-shadow: none;
  }
}

.t {
  margin: 0;
  height: fit-content;
  writing-mode: vertical-rl;
  font-size: 0.8rem;
  font-weight: bolder;
  position: relative;
  text-align: left;
  padding: 3.5px;
  margin-left: 0;
  left: 33px;
  color: #ff4655;
  background-color: #000000;
}

.play a {
  position: relative;
  top: 380px;
  left: 90px;
}

.play {
  width: 0;
}

.btn {
  /* Clean style */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  z-index: 10;
  color: rgb(4, 4, 4);
  cursor: pointer;
  /* Clean style */

  --button-text-color-hover: var(--button-background-color);
  --border-color: #7d8082;
  --button-background-color: #ffffff;
  --highlight-color: #ff4655;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);

  position: relative;
  padding: 8px;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.5s ease;
}

.btn::before,
.btn::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all 0.5s ease;
}

.btn::before {
  top: 0;
  border-bottom-width: 0;
}

.btn::after {
  bottom: 0;
  border-top-width: 0;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn:active::before,
.btn:active::after {
  right: 3px;
  left: 3px;
}

.btn:active::before {
  top: 3px;
}

.btn:active::after {
  bottom: 3px;
}

.btn__inner {
  position: relative;
  display: block;
  padding: 12px 30px;
  background-color: var(--button-background-color);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--button-bits-color);
}

.btn__inner::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--button-bits-color);
  transition: all 0.9s ease;
}

.btn__slide {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: var(--highlight-color);
  transform: skew(-15deg);
  transition: all 0.9s ease;
}

.btn__content {
  position: relative;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: larger;
}

.btn:hover {
  color: var(--button-text-color-hover);
}

.btn:hover .btn__slide {
  width: calc(100% + 15px);
}

.btn:hover .btn__inner::after {
  background-color: var(--button-bits-color-hover);
}

.btn--light {
  --button-text-color: var(--highlight-color);
  --button-inner-border-color: var(--highlight-color);
  --button-text-color-hover: #ece8e1;
  --button-bits-color-hover: #ece8e1;
}

@media only screen and (max-width: 830px) {
  .phoenix img {
    height: 250px;
    width: 130px;
  }

  .texts {
    font-size: 1.2rem;
  }

  .play a {
    position: relative;
    top: 200px;
    left: 60px;
  }

  .main {
    padding-top: 50px;
  }

  .btn__inner {
    padding: 10px;
  }
  .t {
    left: 36px;
  }
}
