.events{
    background: linear-gradient(#ea771a, rgb(30, 26, 26));
    display: block;
}

.title h1{
	font-family: 'Orbitron', sans-serif;

	text-align: center;
	letter-spacing: 5px;
	font-weight: 900;
	color: #000000;
	text-shadow: 2px 2px 10px rgb(119, 108, 209);
}

.event-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    border-radius: 40px;
    padding: 43px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
    font-family: "Orbitron", sans-serif; /* Use Audiowide font */
    color: white;
}

.heading{
    font-size: 70px;
}

.details{
    font-size: 30px;
}

.data{
    margin: 20px;
    height: auto;
    /* display: inline-block; */ 
}
