/*Footer CSS*/
.logo-name {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Orbitron", "cursive";
}
.footer-container {
  position: relative;
}
.footer {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
}

.social-icons {
  padding: 30px;
  text-align: center;
}
.social-icons a {
  color: #fff;
  line-height: 30px;
  font-size: 30px;
  margin: 0 10px;
  text-decoration: none;
}
.social-icons a svg {
  line-height: 30px;
  font-size: 30px;
  padding: 6px;
  border-style: solid;
  border-radius: 100%;
  border-color: #e8e8e844;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover svg {
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

@media screen and (max-width: 850px) {
  .footer {
    flex-direction: column;
    margin-top: 4rem;
  }
  .logo-name {
    font-size: 25px;
  }
}
